/* Section-basics (background/color/padding/position/text-align/z-index) */

/*General*/
.section-basics {
  background-color: #222831;
  color: #eeeeee;
  padding: 5% 15%;
  position: relative;
  text-align: center;
  z-index: 2;
}

/*Specific*/
#title .section-basics {
  background-color: transparent;
  background-image: url("../Imagens/Fundo-inicial.png");
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 60%;
  color: black;
  height: 600px;
  padding: 5% 5%;
  text-align: left;
}

#who-we-are .section-basics {
  background-color: #eeeeee;
  color: #222831;
  padding: 5% 12%;
  text-align: left;
  z-index: 1;
}

#footer .section-basics {
  background-color: #000;
  padding: 2% 0%;
}
/*------------------------------------------------*/
/* Letters */

/*General*/
body h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Coda Caption", sans-serif;
}

body p {
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
}

/*Specific titles*/
#title h1 {
  display: table-cell;
  font-size: 5rem;
  text-shadow: 5px 5px #fff;
  vertical-align: middle;
}

#to-watch h1 {
  font-size: 3.75rem;
}

#who-we-are h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

/*Specific paragraphs*/
#whats-it p.p-like-title {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

#who-we-are p {
  font-size: 1.5rem;
  font-weight: 300;
}

#footer p {
  font-size: 18px;
  font-weight: 100;
}
/*------------------------------------------------*/
/*CSS divided for each section*/

/* Navbar */
nav {
  background-color: #000000;
}

.navbar {
  padding-left: 0px !important;
}

.nav-link {
  padding: 0 20px !important;
}

.navbar-brand {
  padding: 0 0 0 5%;
}

/* Title */
#title .title-padding {
  height: 100%;
  padding-right: 50%;
  display: table;
}

/* What's it? */
.destaques {
  padding: 3% 5% 2%;
  margin-left: auto;
  margin-bottom: 30px;
}

.destaques-baixo {
  max-width: 66.6666666%;
}

.destaques-baixo.direita {
  margin-left: 0;
  margin-bottom: 15px;
}

.imagens-destaque {
  height: 50px;
  margin-bottom: 5px;
}

/* Who we are */
#who-we-are img {
  left: 15%;
  margin-left: -15px;
  margin-top: -52%;
  position: absolute;
  top: 50%;
  width: 110%;
}

.inline-links {
  color: inherit;
}

.inline-links:visited {
  color: inherit;
}

/* To Watch */
.btn {
  margin-top: 20px;
  color: #eeeeee;
  transition: background-color 1s;
}

.btn-animated {
  background-color: #6441a5;
}

.btn-outline-light:hover {
  background-color: #6441a5 !important;
  color: #eeeeee;
}

/* Footer */
.link-footer {
  font-size: 25px;
  margin: 10px;
  margin-bottom: 15px;
  color: #007bff;
}

.link-footer:visited {
  color: #007bff;
}

.link-footer:hover {
  color: #00adb5;
  text-decoration: none;
  transition: color 0.5s;
}
/*------------------------------------------------*/
/* Media Querys */

@media (max-width: 1350px) and (min-width: 1201px) {
  #title .title-padding {
    padding-right: 45%;
  }
}

@media (max-width: 1200px) and (min-width: 993px) {
  #title .title-padding {
    padding-right: 35%;
  }
}

@media (max-width: 992px) {
  /*Title*/
  #title h1 {
    display: inline-block;
  }
  #title .title-padding {
    text-align: center;
    padding-right: 0;
    padding-top: 50px;
  }
  /* What's it? */
  .destaques-baixo {
    max-width: 100%;
  }
  #whats-it .section-basics {
    padding: 5% 15% 5%;
  }
  /* Who we are */
  #who-we-are .col-lg-6 {
    text-align: center;
  }

  #who-we-are img {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    position: static;
    top: 0;
    width: 80%;
  }
}

@media (max-width: 650px) {
  /*Title*/
  #title .title-padding {
    padding-top: 60px;
  }
  #title h1 {
    font-size: 4.5rem;
  }
  /* To Watch*/
  #to-watch h1 {
    font-size: 3.25rem;
  }
  /* Who-we-are*/
  #who-we-are h2 {
    font-size: 2.5rem;
  }
  #who-we-are p {
    font-size: 1.25rem;
  }
}

@media (max-width: 585px) {
  /*Title*/
  #title .title-padding {
    padding-top: 70px;
  }
  #title h1 {
    font-size: 4rem;
  }
  #title .section-basics {
    background-position-x: 24%;
  }
  /* To Watch*/
  #to-watch h1 {
    font-size: 2.75rem;
  }
  #to-watch .btn {
    margin-top: 5px;
  }
}

@media (max-width: 450px) {
  #title .title-padding {
    padding-top: 50px;
  }
  #title .section-basics {
    background-position-x: 28%;
  }

  #whats-it .section-basics,
  #who-we-are .section-basics,
  #to-watch .section-basics {
    padding: 5%;
  }

  #title h1 {
    font-size: 3.5rem;
  }
  /* To Watch*/
  #to-watch h1 {
    font-size: 2.5rem;
  }
  #who-we-are h2 {
    font-size: 2.2rem;
    margin-bottom: 15px;
  }
  #who-we-are p {
    font-size: 1.1rem;
  }
  #to-watch h4 {
    font-size: 1.3rem;
  }
}
